###### 100+2

In [1]:
#divide by 2#
100/2

50.0

In [2]:
10+1/3

10.333333333333334

Data types

In [3]:
Numbers
strings
printing 
list[]
dictionaries{}
boolean
tuples()
set
slicing
variables -a reserved memory of a location of stored value, a container for storing value

SyntaxError: invalid syntax (4198222533.py, line 4)

In [ ]:
print(1+1) False

In [ ]:
"bola"+"ola"

In [ ]:
print("hello world")

In [ ]:
("hello world")

In [ ]:
"hello world"

In [ ]:
print("my name is samuel taiwo")

In [ ]:
200/3

In [ ]:
"sola + john"

In [ ]:
"shola"+" john"

# strings

In [ ]:
name = " Bola johnson"

In [ ]:
name

In [ ]:
animal = "Dog"

In [ ]:
animal #The name here can be called the variable

# list

In [ ]:
fruit =["apple","mango","pawpaw","lemon"]
fruit

In [ ]:
fruit

# slicer

In [ ]:
fruit

In [ ]:
fruit[1:]

In [ ]:
fruit[:3]

In [ ]:
fruit[:2]

In [ ]:
fruit[2:]

In [ ]:
fruit[0]

In [ ]:
fruit[-0]

In [ ]:
fruit[-3]

In [ ]:
fruit[-1]

In [ ]:
fruit[-4]

In [ ]:
fruit[1:2]

In [ ]:
England=["manchester","oxford","carlifonia","italy","canada","united kindom","Bradford","Liverpool","chesters"]
England

In [ ]:
England

In [ ]:
England[-5]

In [ ]:
England[-6]

In [ ]:
England[0:3]

In [ ]:
England[0:6:3]

In [ ]:
selected_cities=[England [i] for i in [2,5,7]]
print (selected_cities)

In [ ]:
England[0:2]

In [ ]:
England[7:8]

In [ ]:
England[2:7:2]

In [ ]:
England[0:2]+England[7:8]+England[2:7:2]

In [ ]:
x=England[0:2]
y=England[7:8]
z=England[2:7:2]
x+y+z

In [ ]:
print(x+y+z)

# BOOLEAN

 Boolean datatypes is built on python which represents 2 values(True or False)?

In [ ]:
#  =assignment sign(used to call variables)
# == equals to sign

In [ ]:
10==9

In [ ]:
print(10==9)

In [ ]:
#print(if 2  is greater or equals to 200)
print(10<=200)

In [ ]:
print(12==12)

# Dictionary

Adictionary is a built in data structure that stores a collection of a key and value pairs, meaning you can add and modify from it

In [ ]:
d={"key1":"items","key2":"item2","key3":"item3"}
d

In [ ]:
people={"christianah":"lagos","bolatito":"abuja","Daniel":"iyin"}
people

# updating a list

In [ ]:
Avengers=["hulk","iron-man","captain",5,["All","simbi"]]
Avengers

In [ ]:
#update the 3rd element to "captain american"
Avengers[2]="captain america"
Avengers

# deleting values in list

In [ ]:
lists=['hulk', 'iron-man', 'captain america', 5, ['All', 'simbi']]
del lists[2]
lists

# Addition of python list

In [ ]:
Avengers1 = ['hulk', 'iron-man', 'captain america', 5]
Avengers2= ["sam","vision"]
Sum_Avengers=Avengers1 + Avengers2
Sum_Avengers

In [ ]:
del Sum_Avengers[0]
Sum_Avengers

In [ ]:
Sum_Avengers[0]

In [ ]:
Sum_Avengers[2]

In [ ]:
Avengers

In [ ]:
Avengers[3]="Daniel"
Avengers

In [ ]:
for i in "Avengers":
    print(i)

In [ ]:
Avengers

In [ ]:
Avengers.append("isreal")
Avengers

In [ ]:
Avengers

In [ ]:
#To get [all] inside the above list
all_value = Avengers[-3][0]
all_value

In [ ]:
#To get  ['All', 'simbi'] inside the Avengers list we have:
nested_list = Avengers[-3]
nested_list

####

# Logical operator and or

In [ ]:
1<2 and 2>3 #and goes to check the two conditions

In [ ]:
(1==2) or (2==2)#or only checks if one of the conditions are true and executes

# TUPLES

Tuples are unmutable ,the values can't be changed

tup1=(0,1,2,3,4)

tup2=("python","geek")

tup1=(0,1,2,3,4)

tup2=("python","geek")
new_tup= tup1+tup2
new_tup

In [ ]:
new_tup

# check at least 20 method in list,tuples,dictionaries and give an example writing a python code

In [ ]:
new_tup[6]

In [ ]:
#write a python program to convert a list to tuple
listx =[1,2,3,4,5]
print(listx)

In [ ]:
tuplex=tuple(listx)
print(tuplex)

dic1={"name":"tito","animal":"monkey","school":"futa","phone":"tecno"}
dic2={"home":"ado","appliances":"kettle","butter":"bama"}
dics= dic1.copy()
dics.update(dic2)
print(dics)

In [ ]:
#write a python script to merge two dictionary
dic1={"name":"tito","animal":"monkey","school":"futa","phone":"tecno"}
dic2={"home":"ado","appliances":"kettle","butter":"bama"}
dics= dic1.copy()
dics.update(dic2)
print(dics)

In [ ]:
#add pink to this colour list 
color = ["blue","yellow","red" ,"green"]
coloradd = color.append("pink")
color

# check at least 20 method in list,tuples,dictionaries and give an example writing a python code
solution

In [1]:
#list
listt=[1,2,3,4]
listt.append(0.5)
print(listt)

[1, 2, 3, 4, 0.5]

In [2]:
my_list = [1, 2, 3]
my_list.append([4,5])
print(my_list)

[1, 2, 3, [4, 5]]

In [3]:
my_list=[1,2,4,5]
my_list.extend([7,8])
my_list

[1, 2, 4, 5, 7, 8]

In [4]:
#it removes the first occurrence of value
my_list=[1,5,2,4,5,5]
my_list.remove(5)
my_list

[1, 2, 4, 5, 5]

In [5]:
my_list=[1,5,2,4,5,5]
del my_list[5]
my_list

[1, 5, 2, 4, 5]

In [6]:
#it returns the first occurence of value
my_list=[1,2,3,5,4]
ind=my_list.index(2)
print(ind)

1

In [7]:
my_list = [1, 2, 3,5]
my_list.index(5)
my_list

[1, 2, 3, 5]

In [8]:
#Removes and returns the element at the given index.
my_list = [1, 2, 3,5,5]
lisd = my_list.pop(3)
print(my_list,lisd)

[1, 2, 3, 5] 5

In [9]:
my_list = [1, 2, 3,5,5,5]
lis=my_list.count(5)
print(lis)

3

In [10]:
my_list = [1, 2, 3,5,5,5]
num=len(my_list)
print(num)

6

In [11]:
dic_list={"name": "Charlie", "age": 35, "city": "Chicago"}
dic_key = {"school":"futa"}
dic_add = dic_list.copy()
dic_add.update(dic_key)

In [12]:
dic_list={"name": "Charlie", "age": 35, "city": "Chicago"}
dic_key = {"school":"futa"}
dic_add = dic_list.copy()
dic_add.update(dic_key)